name: Latest blog post workflow
on:
  # schedule:
  #   - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in dev.to posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          max_post_count: "5"
          feed_list: "https://dzombies45.github.io/index.xml"
          # title_max_length: "25"
          date_format: "d mmm, yyyy"
          template: '<tr><td><a href="$url">$title</a></td><td>$description<br/>$date</td></tr><$newline'
